<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Set Notification Time
    </ion-title>
    <ion-buttons end>
    <div *ngIf = " season == 'summer'">
      <button ion-button icon-only (click)="addNotifications('summer')"><ion-icon color="light" name="md-checkmark-circle"></ion-icon>
      </button>
    </div>

    <div *ngIf = " season == 'winter'">
      <button ion-button icon-only (click)="addNotifications('winter')"><ion-icon color="light" name="md-checkmark-circle"></ion-icon>
      </button>
    </div>

    <div *ngIf = " season == 'fall'">
      <button ion-button icon-only (click)="addNotifications('fall')"><ion-icon color="light" name="md-checkmark-circle"></ion-icon>
      </button>
    </div>

    <div *ngIf = " season == 'spring'">
      <button ion-button icon-only (click)="addNotifications('spring')"><ion-icon color="light" name="md-checkmark-circle"></ion-icon>
      </button>
    </div>

    <div *ngIf = " season == 'rainy'">
      <button ion-button icon-only (click)="addNotifications('rainy')"><ion-icon color="light" name="md-checkmark-circle"></ion-icon>
      </button>
    </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
 
    <ion-list no-lines>
  
        <ion-item>
          <ion-label>Notify me at: </ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange($event)"></ion-datetime>
        </ion-item>
        <ion-row>
         <ion-col width-50>
            <button full ion-button color="appTheme" (click)="toggle();">
               Customise
            </button>
         </ion-col>
         <ion-col width-50>
            <button full ion-button color="appTheme" (click)="toggle2();">
               Notify Daily
            </button>
         </ion-col>
        </ion-row>
        <div *ngIf = " season == 'summer'">
       
        <ion-item *ngFor="let day of daysA">
            <ion-label item-left>{{day.title}}</ion-label>
            <ion-toggle [(ngModel)]="day.checked" color="appTheme"></ion-toggle>
        </ion-item>
        </div>
        <div *ngIf = " season == 'winter'">
           
        <ion-item *ngFor="let day of daysB">
            <ion-label item-left>{{day.title}}</ion-label>
            <ion-toggle [(ngModel)]="day.checked" color="appTheme"></ion-toggle>
        </ion-item>
        </div>
        <div *ngIf = " season == 'fall'">
           
        <ion-item *ngFor="let day of daysC">
            <ion-label item-left>{{day.title}}</ion-label>
            <ion-toggle [(ngModel)]="day.checked" color="appTheme"></ion-toggle>
        </ion-item>
        </div>
        <div *ngIf = " season == 'spring'">
           
        <ion-item *ngFor="let day of daysD">
            <ion-label item-left>{{day.title}}</ion-label>
            <ion-toggle [(ngModel)]="day.checked" color="appTheme"></ion-toggle>
        </ion-item>
        </div>
        <div *ngIf = " season == 'rainy'">
           
        <ion-item *ngFor="let day of daysE">
            <ion-label item-left>{{day.title}}</ion-label>
            <ion-toggle [(ngModel)]="day.checked" color="appTheme"></ion-toggle>
        </ion-item>
        </div>
    </ion-list>
   <div text-center>
      <button (click)="cancelAll()" ion-button color="danger">Disable</button>
   </div>
</ion-content>
 
  
