page-notify {
   .checkbox-md .checkbox-icon{
       position: absolute;
       right: 35px;
   }
   .checkbox-ios .checkbox-icon{
       position: absolute;
       right: 35px;
   }
    .toolbar-title-md{
    padding-left: 1px !important;
  }
  p{
      margin-left: 7px;
  }
  .fab-md{
      background-color: #F4A460;
  }
  .wait{
      margin-top: 10px;
      text-align: center;
      color: #6d6d6d;
      font-weight: bold;
  }
}
