page-notify {
   .checkbox-md .checkbox-icon{
       position: absolute;
       right: 35px;
   }
   .checkbox-ios .checkbox-icon{
       position: absolute;
       right: 35px;
   }
    .toolbar-title-md{
    padding-left: 1px !important;
  }
}
