page-info {
   .scroll-content{
       background-color: white;
   }
   .divColor{
       background-color: #edd6bb;
   }
   .badge-md{
       padding: 10px;
       font-size: 1.5rem;
   }
   p{
        font-size: 1.6rem !important;
        font-weight: normal  !important;
        color: #6d6d6d !important;
        margin-top: 2px;
        margin-bottom: 1px;
        letter-spacing: 1px;
        text-align: justify;
        line-height: 22px;
    }
}
