
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tell Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 

<ion-card *ngIf="show == true">  
  <ion-card-content padding>
    <div text-center>
     <b> Message Preview </b>
    </div> <br> {{message}}
  </ion-card-content> 
</ion-card>
<div padding>
  <ion-item>
      <ion-label floating color="dark">Message</ion-label>
        <ion-input  [(ngModel)]="message" type="text">
        </ion-input>
    </ion-item> 
</div>
  <form [formGroup]="emailForm" (submit)="submit()" novalidate padding>
    <ion-item>
      <ion-label floating color="dark">Email</ion-label>
    
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
            [class.invalid]="!emailForm.controls.email.valid && (emailChanged || submitAttempt)">
      </ion-input>

    </ion-item>
     <ion-item class="error-message" *ngIf="!emailForm.controls.email.valid  && (emailChanged || submitAttempt)">
          <p>Please enter a valid email</p>
     </ion-item>
    
  <div text-center>
    <button ion-button type="submit">
      Submit    
    </button>
  </div>
  </form>

  
</ion-content>
