page-home {
  h2{
    word-spacing: 2px;
    letter-spacing: 1px;
  }
   .button-md{
     background-color: #da9357;
   }
    .button-ios{
     background-color: #da9357;
   }
   .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
   .swiper-pagination-bullet-active{
     background: #ffdead !important;
   }
   .swiper-pagination-bullet{
     margin-bottom: 40px !important;
     background: lightgrey;
   }
}
