page-home {
  h2{
    word-spacing: 2px;
    letter-spacing: 1px;
  }
   .newbutton{
     position: absolute;
     bottom: 7em; 
    

   }
   .button-md{
     background-color: #F4A460;
   }
    .button-ios{
     background-color: #F4A460;
   }
   .fab-md{
     background-color: transparent;
   }
   .fab-ios{
     background-color: transparent;
   }
   .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
   .font2{
     font-weight: 20px;
     font-size: 30px;      
    font-family: 'Courgette', cursive;
   }
   
   .swiper-pagination-bullet-active{
     background: #ffdead !important;
   }
   .swiper-pagination-bullet{
     margin-bottom: 40px !important;
     background: lightgrey;
   }
      .trans{
     position: absolute;
     right: 0px;

	
    -webkit-animation: mymove 2s;  
    -webkit-animation-iteration-count: infinite; 
    animation: mymove 2s;
    animation-iteration-count: infinite;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
   }  
 
}
