page-home {
  h2{
    word-spacing: 2px;
    letter-spacing: 1px;
  }
   .button-md{
     background-color: #da9357;
   }
    .button-ios{
     background-color: #da9357;
   }
   .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
   .swiper-pagination-bullet-active{
     background: #ffdead !important;
   }
   .swiper-pagination-bullet{
     margin-bottom: 40px !important;
     background: lightgrey;
   }
      .trans{
     position: relative;
	
    -webkit-animation: mymove 2s;  
    -webkit-animation-iteration-count: 2; 
    animation: mymove 2s;
    animation-iteration-count: 2;
   }
   @keyframes mymove {
    from {left: 30px;}
    to {left: 0px;}
}
}
