page-autumn {
  .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
 .imgcss{
      margin-top:5.5px;
      margin-left:5.5px;
      max-width: 96%;
      height: auto;   
  }
}
