<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title no-padding>Seasonal Remedies</ion-title> 
    <ion-buttons end>
      <button ion-button icon-only (click)="lang();">
        <ion-icon name="md-pin" color="light"> 
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>  
  <!--    USE THIS TO DISPLAY FULL WORD AFTER CHANGING LANGUAGE
       http://stackoverflow.com/questions/27677926/marquee-effect-using-css3 -->
       
  <ion-segment style="background-color:#F4A460; color:white;"
               [(ngModel)]="query" 
               (ionChange)="showdata()">
               
      <ion-segment-button value="summer">
       Summer
      </ion-segment-button>
      <ion-segment-button value="winter">
       Winter
      </ion-segment-button>
      <ion-segment-button value="fall">
        Fall
      </ion-segment-button>
      <ion-segment-button value="spring">
         Spring
      </ion-segment-button>
      <ion-segment-button value="rainy">
        Rainy
      </ion-segment-button>
    </ion-segment> 
    
</ion-header>
  
<ion-slides (ionSlideDidChange)="slideChanged()">
                             <!-- Summer -->
  <ion-slide *ngFor="let sum of Summer" no-padding style="background-image: url(assets/img/slidebg.jpg);">
  <div style="padding-bottom: 95px;"></div>
   <ion-card  *ngFor="let disease of sum.Diseases">
  <img class="imgcss" src="assets/img/summer2.jpg" (click)=info(sum.Sname)/>
  <ion-card-content>
    <ion-card-title text-center>
      {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button class="button-css" (click)=info(sum.Sname);> 
          <ion-icon color="custom" name="ios-bulb">
          </ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=cure(sum.Sname);> 
   <ion-icon color="custom" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col> 
      <ion-col width-33> 
         <button class="button-css" (click)=prec(sum.Sname);> 
   <ion-icon color="custom" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
  </ion-slide>
    <!-- Winter -->  
<ion-slide *ngFor="let win of Winter" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
 <ion-card *ngFor="let disease of win.Diseases">
  <img class="imgcss" src="assets/img/winter.jpg" (click)=info(win.Sname);/>
  <ion-card-content>
    <ion-card-title text-center>
      {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
     <ion-col width-34>
         <button class="button-css" (click)=info(win.Sname);> 
    <ion-icon color="custom" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=cure(win.Sname);> 
   <ion-icon color="custom" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=prec(win.Sname);> 
   <ion-icon color="custom" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
   
</ion-card>
</ion-slide>
                           <!-- Fall -->
<ion-slide *ngFor="let fal of Fall" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of fal.Diseases">
  <img class="imgcss" src="assets/img/fall2.jpg" (click)=info(fal.Sname);/>
  <ion-card-content>
    <ion-card-title text-center>
       {{disease.Description.name}}
      </ion-card-title>
    <ion-row> 
      <ion-col width-34>
         <button class="button-css" (click)=info(fal.Sname);> 
    <ion-icon color="custom" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=cure(fal.Sname);> 
   <ion-icon color="custom" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=prec(fal.Sname);> 
   <ion-icon color="custom" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>
                               <!-- Spring -->

<ion-slide *ngFor="let spr of Spring" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of spr.Diseases">
  <img class="imgcss" src="assets/img/spring2.jpg" (click)=info(spr.Sname);/>
  <ion-card-content>
    <ion-card-title text-center>
         {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button class="button-css" (click)=info(spr.Sname);> 
    <ion-icon color="custom" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=cure(spr.Sname);> 
   <ion-icon color="custom" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=prec(spr.Sname);> 
   <ion-icon color="custom" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>
             <!-- for Rainy Season -->
  <ion-slide *ngFor="let rain of Rainy" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of rain.Diseases">
  <img class="imgcss" src="assets/img/rainy2.jpg" (click)=info(rain.Sname);/>
  <ion-card-content>
    <ion-card-title text-center>
         {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button class="button-css" (click)=info(rain.Sname);> 
    <ion-icon color="custom" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button class="button-css" (click)=cure(rain.Sname);> 
   <ion-icon color="custom" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33>
         <button class="button-css" (click)=prec(rain.Sname);> 
   <ion-icon color="custom" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>     
</ion-slides>                      