<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title no-padding>{{ 'TITLE' | translate }}</ion-title> 
    <ion-buttons end>
      <button ion-button icon-only (click)="lang();">
        <ion-icon name="md-more" color="light"> 
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> 
  
  <ion-segment style="background-color:#F4A460; color:white;"
               [(ngModel)]="query" 
               (ionChange)="showdata()">
               
      <ion-segment-button value="summer">
        {{ 'SUMMER' | translate }}
      </ion-segment-button>
      <ion-segment-button value="winter">
         {{ 'WINTER' | translate }}
      </ion-segment-button>
      <ion-segment-button value="fall">
        {{ 'FALL' | translate }}
      </ion-segment-button>
      <ion-segment-button value="spring">
         {{ 'SPRING' | translate }}
      </ion-segment-button>
      <ion-segment-button value="rainy">
         {{ 'RAINY' | translate }}
      </ion-segment-button>
    </ion-segment> 
    
</ion-header>
  
<ion-slides (ionSlideDidChange)="slideChanged()">
                             <!-- Summer -->
  <ion-slide *ngFor="let sum of Summer" no-padding style="background-image: url(assets/img/slidebg.jpg);">
  <div style="padding-bottom: 95px;"></div>
   <ion-card  *ngFor="let disease of sum.Diseases">
  <img class="imgcss" src="assets/img/summer2.jpg"/>
  <ion-card-content>
    <ion-card-title text-center>
      {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button style="background-color: white;" (click)=info(sum.Sname);> 
          <ion-icon style="position:relative; color: darkred;" name="ios-bulb">
          </ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=cure(sum.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col> 
      <ion-col width-33> 
         <button style="background-color: white;" (click)=prec(sum.Sname);> 
   <ion-icon style="color: darkred;" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
  </ion-slide>
    <!-- Winter -->  
<ion-slide *ngFor="let win of Winter" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
 <ion-card *ngFor="let disease of win.Diseases">
  <img class="imgcss" src="assets/img/cold.jpg"/>
  <ion-card-content>
    <ion-card-title text-center>
      {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
     <ion-col width-34>
         <button style="background-color: white;" (click)=info(win.Sname);> 
    <ion-icon style="position:relative; color: darkred;" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=cure(win.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=prec(win.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
   
</ion-card>
</ion-slide>
                           <!-- Fall -->
<ion-slide *ngFor="let fal of Fall" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of fal.Diseases">
  <img class="imgcss" src="assets/img/fall2.jpg"/>
  <ion-card-content>
    <ion-card-title text-center>
       {{disease.Description.name}}
      </ion-card-title>
    <ion-row> 
      <ion-col width-34>
         <button style="background-color: white;" (click)=info(fal.Sname);> 
    <ion-icon style="position:relative; color: darkred;" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=cure(fal.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=prec(fal.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>
                               <!-- Spring -->

<ion-slide *ngFor="let spr of Spring" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of spr.Diseases">
  <img class="imgcss" src="assets/img/spring2.jpg"/>
  <ion-card-content>
    <ion-card-title text-center>
         {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button style="background-color: white;" (click)=info(spr.Sname);> 
    <ion-icon style="position:relative; color: darkred;" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=cure(spr.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=prec(spr.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>
             <!-- for Rainy Season -->
  <ion-slide *ngFor="let rain of Rainy" no-padding style="background-image: url(assets/img/slidebg.jpg);">
<div style="padding-bottom: 95px;"></div>
   <ion-card *ngFor="let disease of rain.Diseases">
  <img class="imgcss" src="assets/img/rainy2.jpg"/>
  <ion-card-content>
    <ion-card-title text-center>
         {{disease.Description.name}}
      </ion-card-title>
    <ion-row>
      <ion-col width-34>
         <button style="background-color: white;" (click)=info(rain.Sname);> 
    <ion-icon style="position:relative; color: darkred;" name="ios-bulb"></ion-icon><br><b style="text-align: center;">Info</b>
         </button>
      </ion-col>
      <ion-col width-33> 
         <button style="background-color: white;" (click)=cure(rain.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-flower" text-center></ion-icon><br><b>Cure</b>
         </button>
      </ion-col>
      <ion-col width-33>
         <button style="background-color: white;" (click)=prec(rain.Sname);> 
   <ion-icon style="position:relative; color: darkred;" name="ios-alert" text-center></ion-icon><br><b>Precaution</b>
         </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-slide>     
</ion-slides>                      