page-main {
   
  .imgcss{
      margin-top: 5px;
      width: 100%;
      height: auto;
      
  }
 .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
}
