page-main {
  
  .toolbar-ios ion-title{
    padding: 0px; 
  } 
  .swiper-slide {
    overflow-y: scroll;
    display: block;
}
  .segment-md .segment-button{
    color: white;
  }
  .segment-md .segment-button.segment-activated{
    border-bottom-color: white;
    border-left-color: #F4A460;
    border-right-color: #F4A460;
    border-bottom-width: 3px;
  }
  .segment-ios .segment-button{
    color: white;
    border-left-color: #F4A460;
    border-right-color: #F4A460;
    border-bottom-color: #F4A460;
    border-top-color: #F4A460;
  }
  .segment-ios .segment-button.segment-activated{
   border-bottom-color: white;
    border-left-color: #F4A460;
    border-right-color: #F4A460;  
    background-color: #F4A460;
    border-bottom-width: 3px;
  }
  .button-md{
     background-color: #106f61;
   }
    .button-ios{
     background-color: #106f61;
   }
  .imgcss{
      margin-top: 0px;
      width: 100%;
      height: auto;   
   }
 .font{
     font-weight: 20px;
     font-size: 30px;      
     font-family: 'Pacifico', cursive;
   }
}
