page-admin {
   .button-md{
       background-color: transparent !important;
   }

   button{
       background-color: transparent;
   }
   .icon-pos{
       margin-top: 20px;
   }
   ion-icon{
       font-size: 2em;
   }
   .card-md{
       border-radius: 10px;
       background-color: #cdad92;
   }
}
