page-rate {
    h3{
        margin-top: 20px !important;
        color: #b26c31;
    }
    .button-md{
        background-color: white;
        color: black;
        box-shadow: none;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding: 3px;
        text-align: center;
    }
   button{
       background-color: transparent;
       
   }
   ion-icon{
       font-size: 2em !important;
   }
}
